@charset="UTF-8";

/* Dit is de lettertype die ik gebruik voor de website, heb het gedownload en wat hier onder gebeurd is dat de font bestand word gebruikt*/
@font-face  {
	font-family: samsung;
	src: url('../font/samsungone-400.ttf');
}

#container  {
	font-family: samsung;
	max-width: 1905px;
	max-height: 1820px;
}

#header  {
	width: relative;
	height: 125px;
	background-color: #192c3a;
}
#header a  {
	text-decoration: none;
	list-style-type: none;
	color: #fff;
}

#header_tekst  {
	text-align: left;
	padding-left: 50px;
	font-size: 35px;
	float: left;
	color: #fff;
	line-height: 60px;
}

#header_tekst:hover  {
	color: #cedce5;
    opacity: .4;
}

ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: relative;
    margin-left: 86%;
    line-height: 105px;
    font-size: 25px;
}

#home  {
	float: left;
	margin-left: 5px;
}

#foto  {
	float: left;
	margin-left: 20px;
	
}

li a  {
    display: block;
	padding: 14px 16px;
	position: relative;
}

li a:hover:after {
	width: 100px;
	transition: all 0.4s ease-in-out;
	left: 0;
}

li a::after {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-bottom: 9px;
	content: '';
	margin-left: 2px;
	width: 0px;
	height: 5px;
	background-color: #fff;
	transition: all 0.4s ease-in-out;
}

#content  {
	width: relative;
	background-color: #253745;
	margin: 0px;
	padding-bottom: 30px;
}

#content p  {
	text-align: center;
	border: none;
	padding-top: 50px;
	padding-left: 150px;
	padding-right: 150px;
	color: #fff;
	font-size: 20px;
}

#content img  {
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 13%;

}

#footer  {
	width: relative;
	height: 125px;
	position: relative;
	background-color: #192c3a;
	margin-top: 0px;
}

#footer_tekst  {
	margin-top: 0px;
    color: #fff;
    padding-left: 50px;
    padding-top: 20px;
    font-size: 25px;
    margin-bottom: 18px;
}

#footer_media  {
	margin-top: 0px;
    color: #fff;
	padding-left: 89.3%;
    float: left;
    font-size: 25px;
    bottom: 50px;
    position: absolute;
}

.klein-blokje  {
	height: 40px;
	width: 40px;
	float: right;
	margin-right: 5px;
}

.klein-blokje img {
	height: 25px;
	width: 25px;
}

.klein-blokje:hover  {
	color: #cedce5;
	opacity: .4;
}

#blok-container  {
	float: right;
    margin-right: 30px;
}

.tweede  {
	float: right;
}

.derde  {
	float: right;
}

.vierde  {
	float: right;
}

#laatste_nieuws  {
    color: #fff;
    float: left;
	padding-left: 50px;
}

#laatste_nieuws:hover  {
	color: #cedce5;
	opacity: .5;
	text-decoration: none;
}